<div class="dictionaryForm">
  <form action="" class="form">
    <div class="form__header">
      <h4>Пригласить сотрудника</h4>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Email</label>
      <input class="input" type="text" placeholder="Введите название Email">
    </div>
    <div class="form__control form__control_input">
      <label class="label">Должность</label>
      <input class="input" type="text" placeholder="введите название должности">
    </div>
    <div class="form__control form__control_input">
      <label class="label">Роль</label>
      <select class="input" type="text" placeholder="Введите роль"></select>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Отдел</label>
      <select class="input" type="text" placeholder="Введите отдел"></select>
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit">Добавить</button>
    </div>
  </form>
</div>
