<div class="dictionaryForm">
  <form action="" class="form">
    <div class="form__header">
      <h4>Добавить новый тип платежного документа</h4>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Название</label>
      <input class="input" type="text" placeholder="Введите название документа">
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit">Добавить</button>
    </div>
  </form>
</div>
