<div class="dictionariesWrapper">
  <div class="dictionariesWrapper__heading">
    <h1>
      Справочники
    </h1>
  </div>
  <div class="dictionariesWrapper__tabs">
    <button class="btn btn_type_tab" [routerLink]="['contractors']" [routerLinkActive]="'btn_type_tab_active'">Контрагенты</button>
    <button class="btn btn_type_tab" [routerLink]="['payment-type-document']" [routerLinkActive]="'btn_type_tab_active'">Тип платежного документа</button>
    <button class="btn btn_type_tab" [routerLink]="['articles']" [routerLinkActive]="'btn_type_tab_active'">Статьи</button>
    <button class="btn btn_type_tab" [routerLink]="['company-structure']" [routerLinkActive]="'btn_type_tab_active'">Структура компании</button>
    <button class="btn btn_type_tab" [routerLink]="['bank-account']" [routerLinkActive]="'btn_type_tab_active'">Счета</button>
  </div>
  <router-outlet></router-outlet>
</div>
