<div class="dictionary">
  <div class="dictionary__header">
    <input type="text" class="input">
    <button class="btn btn_green">Добавить</button>
  </div>
  <div class="dictionary__body">
    <ng-container *ngIf="contractors.length; else loading">
      <app-contractors-list-item *ngFor="let contractor of contractors" [contractor]="contractor" (onEdit)="editClicked.emit($event)" (onDelete)="deleteClicked.emit($event)"></app-contractors-list-item>
    </ng-container>
    <ng-template #loading>
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </ng-template>
  </div>
</div>
