<div class="dictionaryForm">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__header">
      <h4>Добавить нового контрагента</h4>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Название
        <input class="input" [ngClass]="{'input_error': form.get('name').touched && form.get('name').invalid}" type="text" formControlName="name" placeholder="Введите название контрагента">
      </label>
      <div class="validation" *ngIf="form.get('name').touched && form.get('name').invalid">
        <small *ngIf="form.get('name').errors.required">
          Поле не может быть пустым
        </small>
      </div>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Полное название
        <input class="input" [ngClass]="{'input_error': form.get('fullName').touched && form.get('fullName').invalid}" type="text" formControlName="fullName" placeholder="введите полное название контрагента">
      </label>
      <div class="validation" *ngIf="form.get('fullName').touched && form.get('fullName').invalid">
        <small *ngIf="form.get('fullName').errors.required">
          Поле не может быть пустым
        </small>
      </div>
    </div>
    <div class="form__control form__control_input">
      <label class="label">ИНН
        <input class="input" [ngClass]="{'input_error': form.get('TIN').touched && form.get('TIN').invalid}" type="text" formControlName="TIN" placeholder="Введите инн">
      </label>
      <div class="validation" *ngIf="form.get('TIN').touched && form.get('TIN').invalid">
        <small *ngIf="form.get('TIN').errors.required">
          Поле не может быть пустым
        </small>
      </div>
    </div>
    <div class="form__control form__control_input">
      <label class="label">КПП
        <input class="input" [ngClass]="{'input_error': form.get('IEC').touched && form.get('IEC').invalid}" type="text" formControlName="IEC" placeholder="Введите кпп">
      </label>
      <div class="validation" *ngIf="form.get('IEC').touched && form.get('IEC').invalid">
        <small *ngIf="form.get('IEC').errors.required">
          Поле не может быть пустым
        </small>
      </div>
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit" [disabled]="form.invalid">Добавить</button>
    </div>
  </form>
</div>
