<div class="listItem">
  <div class="listItem__name">
    {{contractor.name}}
  </div>
  <div class="listItem__control">
    <i class="fas fa-pen listItem__control_hover" (click)="onEditClick(contractor.id)"></i>
    <i class="fas fa-trash listItem__control_hover" (click)="onDeleteClick(contractor.id)"></i>
  </div>
</div>
