<div class="block_nine">
  <app-contractors-list [contractors]="contractors" (editClicked)="getContractorById($event)" (deleteClicked)="deleteContractor($event)"></app-contractors-list>
</div>

<div class="block_seven">
  <app-contractors-form (onSubmit)="getContractors()"></app-contractors-form>
</div>
