.auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  border-radius: 4px;
  background-color: var(--White);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

