<div class="auth">
  <form [formGroup]="form" class="form" (ngSubmit)="submit()">
    <div class="form__header">
      <h1>Авторизация</h1>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Логин</label>
      <input class="input" [ngClass]="{'input_error': form.get('login').touched && form.get('login').invalid}" type="text" formControlName="login">
      <div class="validation" *ngIf="form.get('login').touched && form.get('login').invalid">
        <small *ngIf="form.get('login').errors.required">
          Поле не может быть пустым
        </small>
        <small *ngIf="form.get('login').errors.email">
          Неверный тип, пример: example@mail.com
        </small>
      </div>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Пароль</label>
      <input class="input" [ngClass]="{'input_error': form.get('password').touched && form.get('password').invalid}" type="password" formControlName="password">
      <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
        <small *ngIf="form.get('password').errors.required">
          Поле не может быть пустым
        </small>
        <small *ngIf="form.get('password').errors.minlength">
          Пароль должен состоять более чем из 6 символов
        </small>
      </div>
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit" [disabled]="form.invalid">Вход</button>
      <button class="btn btn_type_outline btn_type_outline_purple">Регистрация</button>
    </div>
  </form>
</div>

