<div class="dictionary">
  <div class="dictionary__header">
    <input type="text" class="input">
    <button class="btn btn_green">Добавить</button>
  </div>
  <div class="dictionary__body">
    <app-payment-type-document-list-item></app-payment-type-document-list-item>
  </div>
</div>
