<div class="dictionaryForm">
  <form action="" class="form">
    <div class="form__header">
      <h4>Добавить нового контрагента</h4>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Название</label>
      <input class="input" type="text" placeholder="Введите название контрагента">
    </div>
    <div class="form__control form__control_input">
      <label class="label">Полное название</label>
      <input class="input" type="text" placeholder="введите полное название контрагента">
    </div>
    <div class="form__control form__control_input">
      <label class="label">ИНН</label>
      <input class="input" type="text" placeholder="Введите инн">
    </div>
    <div class="form__control form__control_input">
      <label class="label">КПП</label>
      <input class="input" type="text" placeholder="Введите кпп">
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit">Добавить</button>
    </div>
  </form>
</div>
