<div class="block_nine">
  <app-payment-type-document-list></app-payment-type-document-list>
</div>

<div class="block_seven">
  <app-payment-type-document-form></app-payment-type-document-form>
</div>
