<header>
  <nav class="navbar">
    <div class="logo">
      <img src="../../../assets/img/logo.svg" alt="">
    </div>
    <ul class="menu">
      <li class="menu__item"><a [routerLink]="['/main', 'orders']" [routerLinkActive]="'menu__link_active'" class="menu__link"><i class="fas fa-receipt menu__icon"></i>Заявки</a></li>
      <li class="menu__item"><a href="" class="menu__link"><i class="fas fa-calendar-alt menu__icon"></i>Календарь платежей</a></li>
      <li class="menu__item"><a href="" class="menu__link"><i class="fas fa-chart-bar menu__icon"></i>Бюджет</a></li>
      <li class="menu__item"><a [routerLink]="['/main', 'dictionaries']" [routerLinkActive]="'menu__link_active'" class="menu__link"><i class="fas fa-book menu__icon"></i>Справочники</a></li>
      <li class="menu__item menu__item_end menu__item_dropdown">
          <a href="" class="menu__link" [ngClass]="{'menu__link_active': isShow}" (click)="openMenu($event)">
            <i class="fas fa-user menu__icon">
            </i>Личный кабинет
            <ul class="menu dropdownContent" *ngIf="isShow">
              <li class="menu__item"><a href="" class="menu__link">Личный кабинет</a></li>
              <li class="menu__item"><a href="" class="menu__link" (click)="logout()">Выход</a></li>
            </ul>
          </a>
      </li>
    </ul>
  </nav>
</header>
