.navbar {
  display: flex;
  height: 70px;
  padding: 0 36px;
  background-color: var(--Purple);
  color: var(--White);
}

.logo {
  align-self: center;
}
.menu {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  list-style: none;
		&__item {
      display: flex;

    }

    &__item_end {
      margin-left: auto;
    }

		&__link {
      display: flex;
      align-items: center;
      color: var(--snowWhite);
      text-decoration: none;
      padding: 0 26px;
      width: 100%;
      transition: 0.3s;

      &:hover:link {
        background-color: var(--DeepPurple);
      }

      & .menu__icon {
        margin-right: 16px;
      }

      &_active {
        background-color: var(--DeepPurple);
      }
    }

    &__link_active {
      background-color: var(--DeepPurple);
    }

    &__item_dropdown {
      position: relative;
      display: inline-flex;
    }
    &.dropdownContent {
      position: absolute;
      background-color: var(--White);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      width: 100%;
      min-height: 100px;
      top: 100%;
      left: 0;
      color: #000;

      & .menu__link:hover {
        color: var(--White);
      }

      & > .menu__item {
        width: 100%;
      }
    }
}


.logo + .menu {
  margin-left: 20px;
}

.profile {
  margin-left: auto;
  align-self: center;
  cursor: default;
  position: relative;
  & .menu__icon {
    margin-left: 16px;
    cursor: pointer;
  }
}

.dropdown {
  position: relative;
  background-color: var(--DeepPurple);
}
