/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/typeface-montserrat/index.css";

:root {
  --Purple: #4667DC;
  --White: #fff;
  --DeepPurple: #1647A7;
  --Green: #53CE70;
  --Red: #FC6463;
  --Black: #333;
  --LigthGrey: #D7D7D7;
  --PaleGrey: #EBEBEB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1240px;
  background-color: #E5E5E5;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 10px auto 0;
  overflow: hidden;
}

.input {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;

  &:focus {
    outline: unset;
    border: 1px solid var(--Purple);
  }

  &_error {
    border: 1px solid var(--Red);
  }

  // &.ng-dirty.ng-invalid.ng-touched:not(:focus) {
  //   border: 1px solid var(--Red);
  // }
}

.label>.input {
  margin-top: 10px;
}

.input_type_switch {
  position: relative;
  display: inline-flex;
  width: 46px;
  height: 25px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.label_type_switch {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.label_type_switch > .input_type_switch {
  margin-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--LigthGrey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 8px;
  bottom: 4px;
  background-color: var(--LigthGrey);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: var(--Purple);
}

.btn {
  min-width: 140px;
  padding: 0 25px;
  line-height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    cursor: not-allowed;
  }

  &_type_outline {
    background-color: var(--White);

    &_purple {
      color: var(--Purple);
      border: 1px solid var(--Purple);
    }
  }

  &_green {
    background-color: var(--Green);
    color: var(--White);
  }

  &_purple {
    background-color: var(--Purple);
    color: var(--White);
  }

  &_type_tab {
    background-color: var(--White);
    color: var(--Black);
    line-height: 45px;
  }

  &_type_tab_active {
    background-color: var(--Purple);
    color: var(--White);
  }
}

.validation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--Red);

  & small {
    padding: 8px 0;
  }
}

.dictionary {
  padding-bottom: 30px;

  &__body {
    height: 400px;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 47px;

    & input {
      width: 75%;
    }
  }
}

.dictionariesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__heading {
    padding-bottom: 5px;
  }

  &__tabs {
    padding: 5px 0 15px 0;

    .btn:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.dictionaryForm {
  padding: 16px 29px;
}

.listItem {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--PaleGrey);
  padding: 0 47px;

  &__name {
    width: 90%;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    color: var(--LigthGrey);
    width: 10%;
    cursor: pointer;
    &_hover:hover {
      color: var(--Purple)
    }

  }
}

.block_nine {
  flex: 0 0 55.125%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.block_seven {
  flex: 0 0 42.625%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.block_nine,
.block_seven {
  background-color: var(--White);
  border-radius: 4px;
}

.form {
  padding: 20px;
  width: 100%;

  &__control {
    display: flex;

    &_input {
      flex-direction: column;
      height: 90px;

      &_type_switch {
        flex-direction: row;
        height: unset;
        margin-bottom: 20px;
      }
    }

    &_btn {
      flex-direction: row;
      justify-content: space-between;
    }

    & .label {
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__header {
    padding: 0 0 8px 0;
  }

  &__control+&__control {
    margin-top: 10px;
  }

  &__control_end {
    align-self: flex-end;
  }

  &__control+.btn {
    margin-top: 20px;
  }

}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: unset;
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 5px;
}
