<div class="listItem">
  <div class="listItem__name">
    Иванов Иван Иванович
  </div>
  <div class="listItem__control">
    <i class="fas fa-pen"></i>
    <i class="fas fa-trash"></i>
  </div>
</div>
