<div class="dictionaryForm">
  <form action="" class="form">
    <div class="form__header">
      <h4>Добавить новую статью</h4>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Название
        <small>Тест ошибки для валидации формы</small>
        <input class="input" type="text" placeholder="Введите название статьи">
      </label>
    </div>
    <div class="form__control form__control_input">
      <label class="label">Относится к
        <select class="input" type="text" placeholder="введите полное название контрагента"></select>
      </label>
    </div>
    <div class="form__control form__control_input_type_switch">
      <label class="label label_type_switch">Важная статья
        <div class="input_type_switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </div>
      </label>
    </div>
    <div class="form__control form__control_btn">
      <button class="btn btn_green" type="submit">Добавить</button>
    </div>
  </form>
</div>
